body {
  font-family: Open Sans, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  line-height: 1.4em;
  margin: 0;
  color: #333;
  background-color: var(--main-white);
}

a[href] {
  border-bottom: 1px solid color(var(--main-blue) alpha(.1));
  color: var(--main-blue);
  font-weight: 400;
  text-decoration: none;
}

a[href]:hover {
  border-bottom: 1px solid color(var(--main-blue) alpha(.8));
  color: var(--main-blue);
}

a[href]:visited {
  color: var(--main-blue);
}
